.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.titleHeader {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "times new roman";
  color: white;
  margin-bottom: 0;
}

#sponsortitle {
  font-size: 20px;
  font-family: "times new roman";
  color: white;
}

#aboutSection {
  background-color: #972224;
  opacity: 0.8;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "times new roman";
  color: white;
  font-size: 20px;
  font-family: "times new roman";
}

#title {
  font-size: calc(50px + 2vmin);
  font-family: "times new roman";
  color: white;
  margin-bottom: 0;
}

#votesRemaining {
  font-size: calc(20px + 2vmin);
  font-family: "times new roman";
  color: red;
}

/* #cardProject{
  background-color: #808080 ;
  border-radius: 25px;
  opacity: 0.8;
  min-height: 20vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'times new roman';
  color: white;
  font-size: 20px;
  font-family: 'times new roman';
} */

#cardProjectFinal {
  background-color: #972224;
  border-radius: 25px;
  opacity: 0.8;
  min-height: 20vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "times new roman";
  color: Black;
  font-size: 20px;
  font-family: "times new roman";
}

#mainGrid {
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
